# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [13]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Deliverable 1: Get a Summary DataFrame

In [4]:
#  1. Get the total rides for each city type

urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]

print(urban_ride_count)
print(suburban_ride_count)
print(rural_ride_count)

type
Urban    1625
Name: ride_id, dtype: int64
type
Suburban    625
Name: ride_id, dtype: int64
type
Rural    125
Name: ride_id, dtype: int64

In [18]:
# 2. Get the total drivers for each city type
# I keep getting the total # of rows for urban when I count driver ID by city type (1625). Do I need to flip the vars
# or somehow tell it that driver_id should be read as a string not int64.
#total_drivers_urban = urban_cities_df.groupby(["type"]).count()["driver_count"]
#total_drivers_urban

#total_drivers_urban = urban_cities_df.groupby(["driver_count"]).count()
#total_drivers_urban

In [26]:
#  3. Get the total amount of fares for each city type
sum_fares_urban = urban_cities_df.sum()["fare"]
sum_fares_suburban = suburban_cities_df.sum()["fare"]
sum_fares_rural = rural_cities_df.sum()["fare"]

print(sum_fares_urban)
print(sum_fares_suburban)
print(sum_fares_rural)

39854.380000000005
19356.33
4327.929999999999

In [27]:
#  4. Get the average fare per ride for each city type. 
avg_FPR_urban = sum_fares_urban / urban_ride_count 
avg_FPR_suburban = sum_fares_suburban / suburban_ride_count
avg_FPR_rural = sum_fares_rural / rural_ride_count

print(avg_FPR_urban)
print(avg_FPR_suburban)
print(avg_FPR_rural)

type
Urban    24.525772
Name: ride_id, dtype: float64
type
Suburban    30.970128
Name: ride_id, dtype: float64
type
Rural    34.62344
Name: ride_id, dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type.

In [8]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')